@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    font-family: "Azeret Mono", monospace;
}
.banner-container{
width: 1440px;
margin: 0 auto;
border: 2px solid white;
min-height: 652px;
margin-top: 20px;
background-image: url(pictures/Hero-bg.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
/* width: 1440px;
    margin: 0 auto;
    border: 2px;
    min-height: 652px;
    background-image: url(pictures/Hero-bg.png); */
 .banner-content{
    /* position: static;
    width: 998px;
    height: 600px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    align-items: center;
 }   
 .banner-content h2{
    Font-weight: 800px;
    font-size: 48px;
    Row height: 68px;
 } 
 .button{
    background-color: black;
    color: aliceblue;
    width: 208px;
    height: 66px;
    padding: 21px 24px 21px 24px;
 }
 .part2{
    width: 1140px;
margin: 0 auto;
border: 2px solid rgb(235, 14, 14);
min-height: 1395px;
margin-top: 74px;
 }
 .part2{
    display: flex;
    flex-direction: column;
    justify-content:top center;
    height: 600px;
    align-items: center;
    padding: 10%;
    }
 
  .picture{
    /* Frame 10 */
position: static;
width: 850px;
height: 240px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
  }
  .picture1{
    /* Frame 10 */
position: static;
width: 850px;
height: 240px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
  }
  .picture2{
    /* Frame 10 */
position: static;
width: 850px;
height: 240px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
  }
  .part3{
    width: 1140px;
margin: 0 auto;
border: 2px solid rgb(235, 14, 14);
min-height: 777px;
margin-top: 74px;
 }
 .part3{
    display: flex;
    flex-direction: column;
    justify-content:top center;
    height: 600px;
    align-items: center;
    padding: 10%;
    }
    #part4{
        width: 1140px;
    margin: 0 auto;
    border: 2px solid rgb(235, 14, 14);
    min-height: 1163px;
    margin-top: 74px;
     }
     #part4{
        display: flex;
        flex-direction: column;
        justify-content:top center;
        height: 600px;
        align-items: center;
        padding: 10%;
        }
        .part5{
            width: 200px;
    margin: 0 auto;
    border: 2px solid rgb(235, 14, 14);
    min-height: 200px;
    margin-top: 74px;
    border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
        }
       .part5{
        /* Frame 10 */
position: static;
width: 284px;
height: 220px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
       } 

       .part6{
        width: 200px;
        margin: 0 auto;
        border: 2px solid rgb(235, 14, 14);
        min-height: 200px;
        margin-top: 74px;
        border-radius: 16px;
background: rgba(0, 76, 232, 0.05);
       }
       .part6{
      /* Frame 10 */
position: static;
width: 284px;
height: 220px;
/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
       }

       .part7{
        width: 200px;
        margin: 0 auto;
        border: 2px solid rgb(235, 14, 14);
        min-height: 200px;
        margin-top: 74px;
        border-radius: 16px;
background: rgba(255, 223, 0, 0.05);
       }
       .part7{/* Frame 10 */
        position: static;
        width: 284px;
        height: 220px;
        /* Auto layout */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        
        /* Inside Auto Layout */
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 0;
        margin: 32px 0px;}

        .part8{
            width: 1140px;
            margin: 0 auto;
            border: 2px solid red;
            min-height: 313px;
            margin-top: 74px;
        }
        .part8{
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 600px;
            align-items: center;
            padding: 10%;
            background-image: url(pictures/handshake.jpg);
        }
        .box{
            width: 480px;
            height: 50px;
            border-radius: 2%;
        }
        .under{
            text-decoration-line: underline;
        }
        .undera{
            text-decoration-line: underline;
        }
        .underb{
            text-decoration-line: underline;
        }
        .part9{
            width: 1440px;
            margin: 0 auto;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .part9{
            /* Frame 24 */
position: static;
width: 1140px;
height: 36px;
/* Auto layout */
display: flex;
flex-direction: row;
justify-content:space-evenly;
align-items: center;
padding: 0px;

/* Inside Auto Layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
margin: 32px 0px;
        }